<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/filme.css}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Adamovies</title>
</head>
<body>
<td><a><h1 class="text-center" style="font-family: 'Bauhaus 93'; font-size: xxx-large;">adamovies</h1></a></td>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/filme}">| Todos os Filmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/noticia}">| Todas as Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ator}">| Atores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: gray"  th:href="@{/filme/favoritos}">| Favoritos</a>
            </li>
        </ul>
    </div>
</nav>
<br>

<h3 class="text-center" style="font-family: 'Bauhaus 93'">Atores</h3>
<hr>

<div class="cards">
    <div class="card" th:each="ator : ${atores}">
        <img class="card__image" th:src="${ator.imagem}" alt="">
        <div class="card__content">
            <p th:text="${ator.nome}" style="font-weight: bold"></p>
            <p style="font-style: oblique" th:text="'Nacionalidade: ' + ${ator.nacionalidade}" ></p>

        </div>
        <div class="card__info">
            <div>
                <a th:href="@{/ator/editar/{id}(id=${ator.id})}" class="card__link"><i style="font-size: 22px" class="material-icons">edit</i></a>
            </div>
            <div>
                <a th:href="@{/ator/remover/{id}(id=${ator.id})}" class="card__link" onclick="return confirm('Tem certeza que deseja excluir este ator?')"><i style="font-size: 22px; color: darkred" class="material-icons">delete</i></i></a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<nav class="navbar navbar-light bg-light">
    <a class="nav-link" style="color: gray" th:href="@{/ator/novo}">Adicionar Ator</a>
    <a class="nav-link" style="color: gray" th:href="@{/home}">Voltar</a>
</nav>
<br>
<br>
</body>
</html>