<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<td><a><h1 class="text-center">adamovies</h1></a></td>
<table class="table">
    <thead>
    <tr>
        <th> </th>
        <th> </th>
        <th>Titulo</th>
        <th>Genero</th>
        <th>Duracao</th>
        <th>Sinopse</th>
        <th>IMDB</th>
        <th>Likes</th>
        <th>Dislikes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="filme : ${filmes}">
        <td><a th:href="@{/filme/favoritar/{id}(id=${filme.id})}"><i style="color: goldenrod" class="bi bi-bookmark-star-fill"></i></a></td>
        <td><img style="max-height: 190px; max-width: 128px" th:src="${filme.imagem}"></td>
        <td th:text="${filme.titulo}"></td>
        <td th:text="${filme.genero}"></td>
        <td th:text="${filme.duracao}"></td>
        <td th:text="${filme.sinopse}"></td>
        <td th:text="${filme.imdb}"></td>
        <td th:text="${filme.like}"></td>
        <td th:text="${filme.dislike}"></td>
        <td><a th:href="@{/filme/editar/{id}(id=${filme.id})}"><i class="bi bi-pencil"></i></a></td>
        <td><a th:href="@{/filme/remover/{id}(id=${filme.id})}" onclick="return confirm('Tem certeza que deseja excluir este filme?')"><i style="color: maroon" class="bi bi-trash3"></i></a></td>
        <td><a th:href="@{/filme/like/{id}(id=${filme.id})}"><i class="bi bi-hand-thumbs-up"></i></a></td>
        <td><a th:href="@{/filme/dislike/{id}(id=${filme.id})}"><i class="bi bi-hand-thumbs-down"></i></a></td>

        <!--    <td><a th:href="@{/filme/desfavoritar/{id}(id=${filme.id})}">Desfavoritar</a></td>-->
    </tr>
    </tbody>
</table>
<a th:href="@{/filme/novo}">Adicionar filme</a>
<a th:href="@{/filme/favoritos}">Favoritos</a>
</body>
</html>