<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adamovies</title>
</head>
<body>
<h1>Adamovies</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Genero</th>
        <th>Duracao</th>
        <th>Sinopse</th>
        <th>Imagem</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="filme : ${filmes}">
        <td th:text="${filme.id}"></td>
        <td th:text="${filme.titulo}"></td>
        <td th:text="${filme.genero}"></td>
        <td th:text="${filme.duracao}"></td>
        <td th:text="${filme.sinopse}"></td>
        <td th:text="${filme.imagem}"></td>
        <td><a th:href="@{/filme/editar/{id}(id=${filme.id})}">Editar</a></td>
        <td><a th:href="@{/filme/remover/{id}(id=${filme.id})}" onclick="return confirm('Tem certeza que deseja excluir este filme?')">Excluir</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/filme/novo}">Adicionar filme</a>
</body>
</html>