<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Adamovies</title>
</head>
<body>
<td><a ><h1 class="text-center">adamovies</h1></a></td>
<hr>
<table class="table">
  <h3 class="text-center">Filmes</h3>
  <thead>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/filme}">Filmes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/noticia}">Noticias</a>
        </li>
      </ul>
    </div>
  </nav>
  <tr>
  <th> </th>
  <th> </th>
  <th>Titulo</th>
  <th>Gênero</th>
  <th>Duração</th>
  <th>Sinopse</th>
  <th>IMDB</th>
  <th>Likes</th>
  <th>Dislikes</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="filme : ${filmes}" th:limit="2">
    <td><a th:href="@{/filme/favoritar/{id}(id=${filme.id})}"><i style="color: goldenrod" class="bi bi-bookmark-star-fill"></i></a></td>
    <td><img style="max-height: 190px; max-width: 128px" th:src="${filme.imagem}"></td>
    <td th:text="${filme.titulo}"></td>
    <td th:text="${filme.genero}"></td>
    <td th:text="${filme.duracao}"></td>
    <td th:text="${filme.sinopse}"></td>
    <td th:text="${filme.imdb}"></td>
    <td th:text="${filme.like}"></td>
    <td th:text="${filme.dislike}"></td>
    <td><a th:href="@{/filme/editar/{id}(id=${filme.id})}"><i class="bi bi-pencil"></i></a></td> <!--Editar-->
    <td><a th:href="@{/filme/remover/{id}(id=${filme.id})}" onclick="return confirm('Tem certeza que deseja excluir este filme?')"><i style="color: maroon" class="bi bi-trash3"></i></a></td> <!--Excluir-->
    <td><a th:href="@{/filme/like/{id}(id=${filme.id})}"><i class="bi bi-hand-thumbs-up"></i></a></td>
    <td><a th:href="@{/filme/dislike/{id}(id=${filme.id})}"><i class="bi bi-hand-thumbs-down"></i></a></td>

<!--    <td><a th:href="@{/filme/desfavoritar/{id}(id=${filme.id})}">Desfavoritar</a></td>-->
  </tr>
  </tbody>
</table>
<nav class="navbar navbar-light bg-light">
  <a class="nav-link" style="color: gray" th:href="@{/filme/novo}">Adicionar Filme</a>
  <a class="nav-link" style="color: gray" th:href="@{/filme/favoritos}">Favoritos</a>
</nav>


  <table class="table">
    <h3 class="text-center">Noticias</h3>
    <thead>
    <tr>
      <th> </th>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="noticia : ${noticias}">
      <td><img style="max-height: 190px; max-width: 286px" th:src="${noticia.imagem}"></td>
      <td th:text="${noticia.titulo}"></td>
      <td th:text="${noticia.autor}"></td>
      <td th:text="${noticia.descricao}"></td>
      <td><a th:href="@{/noticia/editar/{id}(id=${noticia.id})}"><i class="bi bi-pencil"></i></a></td>
      <td><a th:href="@{/noticia/remover/{id}(id=${noticia.id})}" onclick="return confirm('Tem certeza que deseja excluir esta noticia?')"><i style="color: maroon" class="bi bi-trash3"></i></a></td>
    </tr>
    </tbody>
  </table>
<nav class="navbar navbar-light bg-light">
  <a class="nav-link" style="color: gray" th:href="@{/noticia/novo}">Adicionar Noticia</a>
</nav>
</body>
</html>