<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/home.css}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Adamovies</title>
</head>
<body>

<td><a><h1 class="text-center" style="font-family: 'Bauhaus 93'; font-size: xxx-large;">adamovies</h1></a></td>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/filme}">| Todos os Filmes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/noticia}">| Todas as Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/filme/favoritos}">| Favoritos</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<h3 class="text-center" style="font-family: 'Bauhaus 93'">Filmes</h3>
<hr>

<div class="cards">
  <div class="card" th:each="filme : ${filmes}" th:unless="${filme.id > 5}">
    <img class="card__image" th:src="${filme.imagem}" alt="">
    <div class="card__content">
      <p th:text="${filme.titulo}" style="font-weight: bold"></p>
      <p style="font-style: oblique" th:text="'imdb ' + ${filme.imdb}"></p>
    </div>
    <div class="card__info">
      <div>
        <a th:href="@{/filme/buscar/{id}(id=${filme.id})}" class="card__link">Ver filme</p></a>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<nav class="navbar navbar-light bg-light">
  <a class="nav-link" style="color: gray" th:href="@{/filme/novo}">Adicionar Filme</a>
</nav>
<br>

<h3 class="text-center" style="font-family: 'Bauhaus 93'">Notícias</h3>
<hr>

<div class="cards">
  <div class="card" th:each="noticia : ${noticias}" th:unless="${noticia.id > 5}">
    <img class="card__image" th:src="${noticia.imagem}" alt="">
    <div class="card__content">
      <p th:text="${noticia.titulo}" style="font-weight: bold"></p>
      <p style="font-style: oblique" th:text="${noticia.autor}"></p>
    </div>
    <div class="card__info">
      <div>
        <a th:href="@{/noticia/buscar/{id}(id=${noticia.id})}" class="card__link">Ver notícia</p></a>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<nav class="navbar navbar-light bg-light">
  <a class="nav-link" style="color: gray" th:href="@{/noticia/novo}">Adicionar Notícia</a>
</nav>
<br>
<br>

</body>
</html>